<head>
<link href='http://fonts.googleapis.com/css?family=Buenard:700' rel='stylesheet' type='text/css'>
<script src="http://pupunzi.com/mb.components/mb.YTPlayer/demo/inc/jquery.mb.YTPlayer.js"></script>
</head>

<section class="content-section video-section">

  
<div class="container ">
    <a id="bgndVideo" class="player"
    data-property="{videoURL:'https://www.youtube.com/watch?v=sTFeLLQS9Qw',
    containment:'body',
    quality:'hd720',
    autoPlay:true,
    mute:true,
 

    opacity: 2}">bg</a>
     

<div class="row">
        <div class="col-lg-12">

        <h2><u><b>Welcome to Baldwin's Gym<u><b></h2>  
   
<div class="row">
<p>

            <div class="col-md-4">
              <h2>Expert Classes</h2>
              <p>Our Instructors are Qualified and Eager to give you the <b>optimal</b> fitness experience. At Baldwin's Gym we recognise that getting fit and healthy is often perceived as a lonely and solitary affair. This is why we offer classes every week. </p>
              <p><a class="btn btn-default" href=/activities role="button">View our Classes »</a></p>
 
 
 <div id="carouselButtons">

  </div>
  
             
     
              
            </div>



            <div class="col-md-4">
              <h2>Exercise has Benefits</h2>
				<br>• Up to 35% lower risk of heart disease</br>
				<br>• Up to 50% lower risk of type 2 diabetes</br>
				<br>• Up to an 83% lower risk of osteoarthritis</br>
				<br>• Up to 30% lower risk of depression</br>
				<br>
              <p><a class="btn btn-default" href="http://www.mindcharity.co.uk/wp-content/uploads/2016/07/Benefits-of-exercise-and-mental-health.pdf" role="button" target="_blank">Learn More »</a></p>
            </div><!--/span-->



            <div class="col-md-4">
              <h2>Spectacular Facilities</h2>
              <p>Our Gym contains all of the facilities you will ever need! Saunas, Swimming Pools, Aerobics Rooms, Jacuzzis, Weight Rooms and much more! Our gym also features a testing centre, where we can accurately gauge your wellness level and provide a fitness plan catered to you!</p>
            </div><!--/span-->



          </div><!--/row-->



        
        
        
        
        
	   </div>
      </div>
    </div>
  </div>
</section>
<footer> 
<p>
<p>
<h5>Created by Matthew Baldwin, 2016. <br><a href="https://github.com/Hootcake" target="_blank">My github</a></h5>
</footer>
